:root {
    --font-family: "Inter Tight", serif;
    --font-weight-bold: bold; /* Define a custom property for bold font weight */
    --font-weight-regular: normal; /* Define a custom property for regular font weight */
    --padding-section: 2rem 0; /* Define a custom property for section padding */

    /*Colors*/ 
    --secondary-text: #666666; 
    --Primary-text: #111111;
    --ontext:#ffffff;
    --border: #D2DCD7; 
    --primary: #0A8935; 
    --bg: #f5f5f5; 
 
}

/* Global Styles */
html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
      }


body {
    font-family: var(--font-family); /* Apply the custom font family */
    background-color: var(--bg); /* Apply the custom background color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    overflow-x: hidden;
    margin: 0px ;
    padding: 0;
}

/* Header Styles */
#header {
    position: sticky; /* Make the header stick to the top of the viewport */
    top: 0; /* Position the header at the top */
    background-color: var(--bg); /* Apply the custom background color */
    z-index: 1000; /* Ensure the header is above other elements */
    border-bottom: 1px solid var(--border); /* Add a bottom border with the custom border color */
    width: 100%; /* Make the header full width */
    margin: 0;
}

.nav-link {
    color: var(--Primary-text); 
}

.nav-link:hover {
    color: var(--primary); 
}

.nav-link:active {
    color: var(--primary); 
}

/* Section Styles */
section {
    padding: var(--padding-section); /* Apply the custom padding */
    background-color: var(--bg); /* Apply the custom background color */
}

/* Heading styles */
h1 {
  font-size: 2rem; /* Apply the custom extra large font size */
  font-weight: var(--font-weight-normal); /* Apply the custom bold font weight */
  padding: 0;
  margin: 0; /* Remove default margin */
}

h2 {
  font-size: 1.5rem; /* Apply the custom large font size */
  font-weight: var(--font-weight-normal); /* Apply the custom bold font weight */
  margin: 0; /* Remove default margin */
  padding: 0;
}



/* Paragraph styles */
p {
  font-size: 1rem; /* Apply the custom large font size */
  font-weight: var(--font-weight-normal); /* Apply the custom normal font weight */
  margin: 0; /* Remove default margin */
}


.caption {
  font-size: 0.8rem; /* Set font size */
  font-weight: var(--font-weight-normal); /* Set font weight */
  color: var(--secondary-text); /* Set text color */

}


/* Style for list items */
li {
  font-size: 1rem; /* Apply the custom large font size */
  font-weight: var(--font-weight-normal);
}

td {
  font-size: 1rem; /* Set font size */
  font-weight: var(--font-weight-normal); /* Set font weight */
  padding: 24px; /* Add padding */
}


/* Project Section Styling */
.project-section {
  background-color: var(--bg);
  padding: 60px 0;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.project-title {
  color:var(--Primary-text);
  margin-bottom: 4px;
  text-align: left; /* Aligns title to the left */
}

.project-description {
  color: var(--secondary-text);
  text-align: left; /* Aligns description to the left */
  margin-bottom: 10px;
}

.project-meta {
  color: var(--secondary-text);
  text-align: right; /* Aligns metadata (CRED / 2024) to the right */
}

/* Responsive Fix: Align meta text to left on small screens */
@media (max-width: 768px) {
  .project-meta {
    text-align: left;
    margin-top: 10px;
  }
}


/* Contact Section */
#contact {
    text-align: center; /* Center align text */
    margin: 40px 0; /* Add vertical margin */
}

.contact-list {
    list-style: none; /* Remove default list styling */
    padding: 2rem; /* Remove default padding */
    display: flex; /* Display list items in a row */
    justify-content: center; /* Center the list items */
    gap: 48px; /* Add space between list items */
}

.contact-list a {
    text-decoration: none; /* Remove underline from links */
    color: var(--Primary-text); /* Set text color */
    position: relative; /* Position relative to allow for positioning of child elements */
    display: inline-flex; /* Display as inline-flex to align items */
    align-items: center; /* Center align items vertically */
}

.contact-list a:hover {
    color: var(--primary); /* Change color on hover to the custom primary color */
}



/* Custom Ruler */
.custom-ruler {
    border: none; /* Remove default border */
    height: 1px; /* Set height */
    background-color: var(--border); /* Set background color */
    margin: 0; /* Add vertical margin */
}

/* Table Accordion */
.table-accordion {
    width: 100%; /* Make table full width */
    border-collapse: collapse; /* Collapse borders into a single border */
    margin: 20px 0; /* Add vertical margin */
    font-size: var(--font-size-base); /* Set font size */
    text-align: left; /* Align text to the left */
}

.table-accordion th, .table-accordion td {
    padding: 1.5rem; /* Add padding */
}

.main-row, .details-row {
    border-bottom: 1px solid var(--border); /* Add bottom border */
}

.main-row {
    background-color: var(--bg); /* Set background color */
    cursor: pointer; /* Change cursor to pointer */
}

.details-row {
    display: none; /* Hide by default */
    background-color: var(--bg); /* Set background color */
}

.toggle-details {
    text-align: center; /* Center align text */
    font-weight: var(--font-weight-bold); /* Set font weight to bold */
    
}

.main-row:hover {
    background-color: var(--bg); /* Set background color on hover */
    border-bottom: 1px solid var(--primary);
    color: var(--primary); /* Change text color on hover */
}

.main-row.active {
  color: var(--primary); /* Change text color when active */
}

.toggle-details::after {
    content: '\25BC'; /* Add down arrow */
    font-size: var(--font-size-small); /* Set font size */
    margin-left: 5px; /* Add left margin */
    
}

.main-row.active .toggle-details::after {
    content: '\25B2'; /* Add up arrow */

}


/* Playground Section */
#playground {
  padding: 0; /* Add padding */
  background-color: var(--bg); /* Set background color */
  text-align: center; /* Center align text */
}

.product-type{
  font-size: 0.8rem;
  color:var(--secondary-text)
}
.gallery {
  display: flex; /* Display as flexbox */
  flex-wrap: wrap; /* Allow wrapping of items */
  justify-content: center; /* Center align items */
  gap: 20px; /* Add space between items */
}

.card {
  width: auto; /* Set width */
  border: none; /* Remove border */
  padding: 1rem; /* Add padding */
  text-align: left; /* Align text to the left */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.card img {
  width: 100%; /* Make image full width */
  border-radius: 8px; /* Slightly rounded corners */
  margin-bottom: 24px; /* Add spacing below image */
}

.card-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 24px; /* Add spacing below image */

}










  /* Keyframes for scrolling animation */
  @keyframes scroll-left {
    0% {
      transform: translateX(100%); /* Start outside the container */
    }
    100% {
      transform: translateX(-100%); /* End outside the container on the left */
    }
  }
  

/* Responsive Adjustments */
@media (max-width: 768px) {

  body {
    margin: 0px 24px;
    padding: 0;
}



  .cta-box {
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center align the content */
  }

  .cta-text {
    margin-bottom: 1rem; /* Add spacing below the text */
  }

  .cta-button {
    width: 100%; /* Make the button full-width */
  }

    .card {
        flex: 1 1 calc(50% - 20px); /* Set flex properties for 2 cards per row */
    }

    .gallery {
        gap: 10px; /* Reduce space between items */
    }

    h1{
        font-size: 2rem; /* Reduce font size */
    }

    p{
      font-size: 1rem; /* Reduce font size */
  }
    section {
        padding: 1rem; /* Reduce padding */
    }

    .contact-list {
        flex-direction: column; /* Stack items vertically */
        gap: 10px; /* Reduce space between items */
    }

    .contact-list a {
        font-size: 1rem; /* Reduce font size */
    }
    .table-accordion th, .table-accordion td {
      padding: 1rem; /* Reduce padding */
      font-size: 1rem; /* Reduce font size */
  }

  .toggle-details::after {
      font-size: 1rem; /* Reduce arrow size */
  }
      }







@media (max-width: 480px) {


  body {
    margin: 0px 16px;
    padding: 0;
}


  section{
    padding-top: 2rem; /* Reduce padding */
    padding-bottom: 2rem; /* Reduce padding */

  }

    .card {
        flex: 1 1 100%; /* Set flex properties for 1 card per row */
    }

    h1{
        font-size: 2rem; /* Reduce font size */
        padding-bottom: .5rem; /* Reduce padding */
    }

    p{
      font-size: 1rem; /* Reduce font size */
    }

    .table-accordion th, .table-accordion td {
      padding: 0.5rem; /* Further reduce padding */
      font-size: 1rem; /* Further reduce font size */
  }

  .toggle-details::after {
      font-size: 1rem; /* Further reduce arrow size */
  }

   

    footer {
        font-size: smaller; /* Reduce font size */
        text-align: center; /* Center align text */
    }

    footer .row {
        text-align: center; /* Center align text inside rows */
    }
}

